* {
  font-family: "Roboto";
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #F9F9F9;
  background-image: url(images/Backgroundimage4.png);
  background-repeat: no-repeat;
  background-size:auto ;
}
.formmain {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 560px;
  height: 611px;

  margin: 93px auto;

  /* White */

  background: #ffffff;
  /* Normal box */

  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
}
.first {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
h2 {
  width: 378px;
  height: 60px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #212121;
  flex: none;
  align-self: stretch;
  margin-bottom: 16px;
}
p {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.second {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
}

label {
  width: 105px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}

input {
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  width: 368px;
  color: #A0A0A0;
    margin-bottom: 28px;
}
select {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  width: 368px;
  height: 36px;
  margin-bottom: 29px;
}
.size{
    width: 95px;
height: 17px;
text-align: start;
margin-bottom: 8px;
}

.btns {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  
  


}
button{
    margin-right: 13px;
    width: auto;
    height: 25px;  
    padding: 0 4px;  
    margin-bottom: 32px;
    border: 0;
}
#btn3{
  background-color: #3766E8;
}
.textlogo {
    position: absolute;
    width: 160px;
    height: 36.02px;
  left: 60px;
  top: 60px;
}
.logo {
    width: 51px;
    height: 48px;
    margin-bottom: 24px;
}

.getstarted{
    width: 368px;
    height: 36px;
    background: #3766E8;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 0;
}
.getstarted:hover {background-color: #37a3b3}

.getstarted:active{
    background-color: #14c1ed;
    transform: translateY(4px)
}


.footer {
  width: 185px;
  height: 19px;
  margin: 200px auto;
}